body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.notice-list {
    padding: 10px 20px;
}

.notice-list li {
    line-height: 40px;
}

.notice-list li span:first-child {
    width: 40%;
    display: inline-block;
}

.notice-list li span:last-child {
    display: inline-block;
}